.contato-container{
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.contato-texto{
    font-size: 1.25rem;
    line-height: 1.33;
    color: #111;
}

.contato-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.contato-links li{
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 1.1;
    color: #7D7D7D;
    position: relative;
    display: flex;
    gap: 16px;
}

.contato-links a{
    color: #7D7D7D;
    text-decoration: none;
}

.contato-form label {
    font-size: 1rem;
    line-height: 1.1;
    color: #111;
}

.contato-form input{
    width: 100%;
    padding: 12px 0;
    margin: 8px 0;
    border: 2px solid #B3B3B3;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

.contato-form input:focus{
    outline: none;
    border: 2px solid #D3758C;
}

.contato-form input[type="text"]{
    height: 100px;
}

.contato-form textarea{
    margin: 8px 0;
<<<<<<< HEAD
    padding: 12px 0;
=======
    padding: 0;
>>>>>>> 14f09e673d6a4eec0889a738fb7bf8941518aeb2
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    width: 100%;
    border: 2px solid #B3B3B3;
    border-radius: 5px;
}

.contato-form textarea:focus{
    outline: none;
    border: 2px solid #D3758C;
}

.contato-form button{
    font-family: 'Poppins', sans-serif;
    padding: 8px 16px;
    margin: 8px 0;
    border: 2px solid;
    background-color: #D3758C;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 32px;
    cursor: pointer;
    transition: all 0.3s;
}

.contato-form button:hover{
    background-color: #F4A6B3;
    color: #fff;
    transition: all 0.3s;
}

@media (max-width: 800px){
    .contato-container{
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items: center;
    }
}