.footer{
    background-color: #000;
}

.footer-container{
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto{
    font-size: 1.25rem;
    line-height: 1.33;
    color: #cccccc;
}

.footer-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.footer-contato li{
    font-weight: bold;
    font-size: 28px;
    line-height: 1.1;
    color: #fff;
    position: relative;
    display: flex;
    gap: 16px;
}
.footer-contato a{
    color: #fff;
    text-decoration: none;
}

.footer-copy{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.125rem;
    color: #8f8f8f;
}

@media (max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items: center;
    }

    .footer-contato li{
        font-size: 1.5rem;
    }
}